/* Place your extensions here to make migration to a new release easier. */
body .p-panel .p-panel-titlebar {
	border: 0;
}

.p-panel .p-panel-titlebar-icon span {
	margin-top: 2px;
}

body .p-panel .p-panel-content {
	border: 0;
	background: #fafafa;
}

body .p-accordion .p-accordion-header a {
	border: 0;
}

body .p-accordion .p-accordion-header:not(.p-disabled).p-highlight a {
	border: 0;
}